a {color:#000;}
#navcontainer{
padding:0;
margin:0;
height:27px;
}
#navcontainer ul{
border-top: 0px solid #fff;
border-bottom: 1px solid #fff;
padding: 0;
margin: 0;
background-color: #f90;
color: White;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;font-size:12px;
}
#navcontainer ul li {
display: inline;
}
#navcontainer ul li a{
padding: 6px 20px;
background: url("button.gif") 0 0 no-repeat;
color: #fff;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}
#navcontainer ul li a:hover{
color: #000;
background-position: -157px 0;
}
#navcontainer ul li a:active{
color: #fff;
background-position: -314px 0;
}
/*  */
#footcontainer{
padding:0;
margin:0;
height:27px;
}
#footcontainer ul{
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
padding: 0;
margin: 0;
background-color: #c00;
color: White;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;font-size:12px;
}
#footcontainer ul li {
display: inline;
}
#footcontainer ul li a{
padding: 6px 20px;
background: url("button.gif") 0 0 no-repeat;
color: #fff;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}
#footcontainer ul li a:hover{
color: #000;
background-position: -157px 0;
}
#footcontainer ul li a:active {
background-position: -314px 0;
color:white;
}

